**.vs/
**.vscode/

/releases/
**/bin
/bin-int
**/obj
/dependencies/obj/
/dependencies/libs/

!vendor/bin

**/Makefile

**.vcxproj
**.vcxproj.filters
**.vcxproj.user

**.sln

**.ini

*.log

/Kakali/src/res/scripts/*
Projects/First/Resource/Intermediates/
Projects/First/Resources/Build/
Projects/First/Resources/Intermediates/Debug/

!Kakali
!Kakali/imgui.ini

!Kakali/src/res/scripts/*.bat
!Kakali/src/res/scripts/.editorconfig

!Projects/**/*.vcxproj
!Projects/**/*.vcxproj.filters
!Projects/**/*.sln