**.vs/
**.vscode/

/releases/
**/bin
/bin-int
**/obj
/dependencies/obj/
/dependencies/libs/

!vendor/bin

**/Makefile

**.vcxproj
**.vcxproj.filters
**.vcxproj.user

**.sln

**.ini

*.log

!Kakali
!Kakali/imgui.ini

/Kakali/src/res/scripts/
Projects/First/Resource/Intermediates/
Projects/First/Resources/Build/
Projects/First/Resources/Intermediates/Debug/